VITE_SUPABASE_URL=https://tulblahmlodespqnipqx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR1bGJsYWhtbG9kZXNwcW5pcHF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzNzE3NzIsImV4cCI6MjA4ODk0Nzc3Mn0.gr4aCItlAg14VZaYvrcTKVRbgIqhpKbAjVQBq-vKWy8
